body {
    background: #F6FAFE;
    font-family: 'Montserrat';
}
.navbar-bar {
    color: white;
    font-size: 20px;
}
.navbar-default {
    background-color: #076EF9;
    display: flex;
    align-items: center;
}
.nav-icon {
    color: white;
    font-size: 20px;
}
.name-user {
    color: white;
    margin-right: 40px;

    border-radius: 50%;
    padding: 6px;
    background: #67A7FA;
}
.btn-orange {
    background: #F27828;
    color: white;
}
.content-search {
    background: white;
}
.search-title {
    font-size: 14px;
    font-weight: 600;
}
.title-content-search {
    font-size: 12px;
    font-weight: 600;
}
.search-content-button{
    display: flex;
}
.card-info{
    display: flex;
    align-items: center;
}
.card-info-user p{
    margin-bottom: 0;
    font-size: 10px;
}
.label-search {
    font-size: 12px;
    font-weight: 600;
}
.card {
    background: white;
}
.card-head, .card-body{
    padding: 10px;
    border-bottom: #E2EFFE 1px solid;
}
.card-head{
    display: flex;
    justify-content: space-between;
 
}
.card-badge{
    padding: 3px 6px 3px 6px ;
    border-radius: 12px;
    border: solid 1px #C2C2C2;
    display: inline;
}
.card-head-content{
    margin-top: 3px;
}
.fa.fa-circle{
   color: #66DA7B;
}
.card-footer{
    padding: 20px;
}
.small-text-card{
    font-size: 10px;
    color: #C2C2C2;
    font-weight: 100;
}
.btn-default{
    border-color: #006fff;
    color: #006fff;
  
}

.pl-0 {
    padding-left: 0;
}
.border {
    border: solid 2px #F2F6FC;

}
.mb-1 {
    margin-bottom: 8px;
}
.mb-2 {
    margin-bottom: 16px;
}
.mt-2 {
    margin-top: 16px;
}
.mr-0{
    margin-right: 0;
}
.card-head {
    display: flex;
  
}
